body {
  font-family: 'Open-sans', sans-serif;
  text-align:center;
  margin: 0%;
}

header {
  display: flex;
  height: 90px;
  width: auto;
}

.container {
  width:100%;
  background-color: #f90;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0.5px 0.5px 20px #6d6d6e;
}

#logo {
  width: 200px;
  margin-left: 30px;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

nav ul, nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
}

nav a {
  color: #fff;
  display: block;
  margin: 15px;
  padding: 11px;
  font-size: 15px;
  border-radius: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

nav .active a, a:hover {
  background-color: #fff;
  color: #f90;
}

#hero {
  width: 592px;
  margin: 72px auto;
}

#title, section {
  width: 592px;
  margin: auto;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  margin-bottom: 32px;
}

h1 span {
  font-weight: bold;
}

span {
  color: #f90;
}

h1 span {
  font-weight: bold;
}

section {
  font-size: 14px;
  line-height: 28px;
  color: #7d7987;
  margin-bottom: 40px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 33px;
}

#line {
  width: 568px;
  height: 0px;
  margin: 0px auto 8px;
  border: 1px solid #eceff2;
}

#contacts a {
  text-decoration: none;
  color: #f90;
}

#contacts a + a{
  margin-left: 25px;
}

#contacts a:hover {
  text-decoration:underline;
}

.icon {
  margin: 2px 2px -3px;
}

#bolinhas {
  position: fixed;
  bottom: 0px;
  right: 0px;
}